<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Description</title>
</head>
<body>
<div class="container">
    <h2>Movie Description</h2>
    <div class="movie-details">
        <div>
            <img th:src="${movie.posterUrl}" alt="Movie Image">
        </div>
        <div>
            <h3 th:text="${movie.movieName}"></h3>
            <p><strong>Genre:</strong> <span th:text="${movie.genre}"></span></p>
            <p><strong>Cast:</strong> <span th:text="${movie.cast}"></span></p>
            <p><strong>Duration:</strong> <span th:text="${movie.duration}"></span></p>
            <p><strong>Rate:</strong> <span th:text="${movie.rate}"></span></p>
            <p><strong>Description:</strong> <span th:text="${movie.description}"></span></p>
            <!-- Add more movie details as needed -->
        </div>
    </div>
</div>
</body>
</html>
